
ul{

    list-style-type: initial;
   
}


li{
    margin: 20px;
    margin-left: 120px;
    font-size: 20px;
    padding: 8px;
  
}

h2{
     font-size: 40px;
    font-family: 'Pacifico', cursive; 
    margin-left: 30px;
    margin-top: 20px;
}
div{
    margin-top: 50px;
   /* border: blue 3px solid; */
   width:1350px;
   position: relative;
   left:18%;
 
   right: 15%;
   padding: 30px;
    
}
table{
    /* margin:100px; */
    position: relative;
    bottom: 0;
    width:600px;
    
    margin: 0;
}
table,tr,th,td {
    position: relative;
    top:0;
    padding: 15px;
    /* text-align: left; */
    border-width: 5px;
    border-style: outset;
    /* width: 20px; */
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  } 
  th{
font-weight: bold;
  }
  #myform{

   /* border: chartreuse 3px solid; */
   width:710px;
    text-align: center;
      font-size: 25px;
    position: relative;
    left:300px;
    padding: 10px;
    margin: 30px;

  }
  fieldset{
    border: black 5px solid;
    width:700px;
    position: relative;
    background-color: rgb(206, 116, 75);
    font-weight: bold;
    
   
  
  }
  input{
     height: 40px;
     font-size: 20px;
     border: 5px ;
     border-style: inset;
    margin: 10px;;
     
  }
 #submit{
margin-top: 20px;
margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
 }

main{
    margin-bottom: 100px;
}

footer{
    position: relative;
    bottom: 0;
    height: 500px;
}