
body{
    background-image: url('https://besthqwallpapers.com/Uploads/21-5-2019/93044/thumb-light-brown-paper-texture-paper-background-retro-brown-background-paper-textures.jpg');
}


h1{
   font-size: 50px;
   display: inline-block;
  color:white;
   /* font-family: 'Kirang Haerang', cursive; */
   font-family: 'Pacifico', cursive;
    margin-left: 200px;
}

header{
 height: 200px;  

 background-image: url('https://cdn1.vectorstock.com/i/1000x1000/43/85/realistic-dark-brown-carbon-background-texture-vector-1914385.jpg'); 
 /* position: sticky; */
 /* top:0; */
} 


 header img{
    
    padding-left:20px;
    padding-top: 40px;
   
    width:200px;

}
header img{
    transform: rotate(340deg); 
}

li{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 10px;
    font-size: 20px;
   
}
p{
    color: white;
    font-family: 'Kirang Haerang', cursive;
    font-size: 30px;
   padding: 10px;
}
ul{
    display: inline-block;
    list-style: none;
    margin-left: 150px;


}

section{
    /* border:red 3px solid ; */
    position: relative;
    display: inline-block;
    /* text-align: center; */
    /* width:800px; */
    /* height: 600px; */
    
    margin-top: 10px;
    width: 1500px;
   /* position: absolute; */
   left: 10%;


    
}
article:first-child{
    display: inline-block;
    background-color :#8B4513;
      width: 50%;  
     /* border:rgb(9, 255, 0) 3px solid ; */
     height: 400px;
    
}
section article:last-child{
    display: inline-block;
    position: absolute;
    right:0;

   /* width: 50%; */
  /* left: 53%; */
}

 
 a{
     text-decoration: none;
     color: white;
   
    
 }
a:hover{
 color:brown;
 background-color: chocolate;
 padding: 20px;
 
}



.section2 img:last-child{
    display: inline-block;
    position: absolute;
    right:0;
}

