
body{
    background-image: url('https://besthqwallpapers.com/Uploads/21-5-2019/93044/thumb-light-brown-paper-texture-paper-background-retro-brown-background-paper-textures.jpg');
}
ol{
	list-style-type: decimal;
}
ul{

    list-style-type: circle;
}

h1{
   font-size: 50px;
   display: inline-block;
  color:white;
   /* font-family: 'Kirang Haerang', cursive; */
   font-family: 'Pacifico', cursive;
    margin-left: 200px;
}
/* h2{
    
  
} */
header{
 height: 200px;  

 background-image: url('https://cdn1.vectorstock.com/i/1000x1000/43/85/realistic-dark-brown-carbon-background-texture-vector-1914385.jpg'); 
} 

/* section {
    font-family: 'Kirang Haerang', cursive;
font-size: 26px;
color: wheat;
border: white dotted 6px;
padding : 26px;
margin:100px;
margin-left: 150px;
margin-right: 150px;
position: relative;
background-color: rgb(9, 44, 119);
} */
 img{
     /* position: absolute;  */
    /* bottom: 600px; */
    /* left: 70px; */
    padding-left:20px;
    padding-top: 40px;
    transform: rotate(340deg); 
    width:200px;

}


 li{
    margin: 20px;
    margin-left: 90px;
    font-size: 20px;
} 
div{
    /* background-color: azure; */
    height: 400px;
}
/* .image{
    float: right;
     
}

div{
    display: inline-block;
  
}
 div p{ 
   
    padding: 15px;
 } */